//Colors and gradients

$sky: linear-gradient(86.01deg, #56ccf2 -9.1%, #423c8a 82.05%);
$sunrise: linear-gradient(86.01deg, #56ccf2 -9.1%, #c7a05e 82.05%);
$swamp: #3a4a41;
$mud: #c7a05e;
$grey17: rgba(255, 255, 255, 0.17);
$grass: rgba(124, 201, 148, 1);
$freshgrass: #519d3f;
$azure: linear-gradient(
    45deg,
    rgba(70, 56, 137, 1) 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(124, 201, 148, 1) 50%
);

//Mixins

@mixin gradient($backupcolor, $gradient) {
    background-color: $backupcolor;
    background-image: $gradient;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@mixin gradBorder($gradient) {
    border: none;
    border-bottom: 2px solid transparent;
    border-image: $gradient;
    border-image-slice: 1;
}

//Screen sizes

$macbook: "screen and (max-width: 1440px)";
$ipad: "screen and (max-width: 1000px)";
$iphone: "screen and (max-width: 600px)";

//Font sizes

.h1 {
    font-size: 5.2917em;
}

.h2 {
    font-size: 2.6458em;
}

.h3 {
    font-size: 1.75em;
}

.h4 {
    font-size: 1.3333em;
}

.h5 {
    font-size: 1.1667em;
}

//Optional classes

.hide {
    display: none;
}
