/*
font-family: 'Hind Madurai', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
*/
@import "optional";

body {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-family: "Hind Madurai", sans-serif;
    color: $swamp;

    @media #{$macbook} {
        font-size: 14px;
    }

    @media #{$ipad} {
        font-size: 13px;
    }

    @media #{$iphone} {
        font-size: 12px;
    }
}

section {
    margin: 1em 0 2.5em 0;

    .section-title {
        @include gradient(yellow, $azure);

        margin: 0 0 2.5rem 0;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
    }
}

.hide {
    display: none;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1280px;
    margin: 0 auto;

    @media #{$iphone} {
        grid-template-columns: none;
        margin: 0 20px;
    }
}

.intro,
.projects,
.contact-me,
.contacts {
    grid-column: 4 / 10;
}

.intro {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    * {
        margin: 0;
    }
    & > * {
        margin: 0 0 2.5rem 0;
    }
    &__title {
        font-family: "Montserrat", sans-serif;
        @include gradient(red, $sky);
    }
    &__subtitle {
        font-family: "Lora", serif;
    }
    span {
        @include gradient(yellow, $sunrise);
    }
}

.projects {
    display: flex;
    flex-flow: column;
}

.project-cards {
    display: flex;
    flex-flow: row;
    @media #{$ipad} {
        flex-flow: column;
    }
}

.project-card {
    width: 325px;
    height: 207px;
    margin: 0 50px 50px 0;
    position: relative;

    color: #ccc;
    background: url(img/up.svg) center left no-repeat border-box border-box,
        url(img/down.svg) center left no-repeat border-box border-box;
    * {
        margin: 0;
    }
    &__title {
        width: 220px;
        position: absolute;
        left: 32px;
        top: 33px;

        color: $mud;
        font-family: "Montserrat", sans-serif;
    }
    &__text {
        width: 220px;
        position: absolute;
        left: 32px;
        top: 80px;
    }
    &__button {
        width: 100px;
        height: 23px;
        position: absolute;
        left: 32px;
        top: 159px;

        a {
            @include gradBorder($sunrise);
            font-family: "Montserrat", sans-serif;
            color: #ccc;

            text: {
                transform: uppercase;
                decoration: none;
            }
        }
    }
    &__type {
        width: 58px;
        height: 20px;
        position: absolute;
        left: 318px;
        top: 75px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        color: #ffffff;

        transform: rotate(90deg);
        transform-origin: top left;
    }
}

.submit-window {
    width: 712px;
    height: 371px;
    position: relative;

    background-color: $swamp;
    border-radius: 20px;

    * {
        background-color: inherit;
        font-family: "Hind Madurai", sans-serif;
        color: white;

        &::placeholder {
            font-family: "Montserrat", sans-serif;
            color: $grey17;
        }
    }
    .fname {
        width: 164px;
        height: 24px;
        position: absolute;
        left: 40px;
        top: 28px;

        background-color: inherit;
        @include gradBorder($sunrise);
    }
    .lname {
        width: 184px;
        height: 24px;
        position: absolute;
        left: 284px;
        top: 28px;

        @include gradBorder($sunrise);
    }
    .reason {
        width: 428px;
        height: 23px;
        position: absolute;
        left: 40px;
        top: 74px;

        @include gradBorder($sunrise);
    }
    textarea {
        width: 630px;
        height: 196px;
        position: absolute;
        left: 5.76%;
        right: 5.76%;
        top: 38.27%;
        bottom: 8.89%;
        // border-radius: 20px;
    }
}

.skull {
    position: absolute;
    width: 864px;
    height: 988px;
    margin: 0 auto;
    top: 250%;

    transform: rotate(-180deg);
}
