/*
font-family: 'Hind Madurai', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
*/
.h1 { font-size: 5.2917em; }

.h2 { font-size: 2.6458em; }

.h3 { font-size: 1.75em; }

.h4 { font-size: 1.3333em; }

.h5 { font-size: 1.1667em; }

.hide { display: none; }

.intro { display: flex; flex-flow: column; justify-content: space-between; }

.intro * { margin: 0; }

.intro > * { margin: 0 0 2.5rem 0; }

.intro__title { font-family: "Montserrat", sans-serif; background-color: red; background-image: linear-gradient(86.01deg, #56ccf2 -9.1%, #423c8a 82.05%); background-size: 100%; -webkit-background-clip: text; -moz-background-clip: text; -webkit-text-fill-color: transparent; -moz-text-fill-color: transparent; }

.intro__subtitle { font-family: "Lora", serif; }

.intro span { background-color: yellow; background-image: linear-gradient(86.01deg, #56ccf2 -9.1%, #c7a05e 82.05%); background-size: 100%; -webkit-background-clip: text; -moz-background-clip: text; -webkit-text-fill-color: transparent; -moz-text-fill-color: transparent; }

.projects { display: flex; flex-flow: column; }

.project-cards { display: flex; flex-flow: row; }

@media screen and (max-width: 1000px) { .project-cards { flex-flow: column; } }

.project-card { width: 325px; min-width: 325px; height: 207px; margin: 0 50px 50px 0; position: relative; color: #ccc; background: url(img/up.svg) center left no-repeat border-box border-box, url(img/down.svg) center left no-repeat border-box border-box; }

.project-card * { margin: 0; }

.project-card__title { width: 220px; position: absolute; left: 32px; top: 33px; color: #c7a05e; font-family: "Montserrat", sans-serif; }

.project-card__text { width: 220px; position: absolute; left: 32px; top: 80px; }

.project-card__button { width: 100px; height: 23px; position: absolute; left: 32px; top: 159px; }

.project-card__button .view-button { border: none; border-bottom: 2px solid transparent; border-image: linear-gradient(86.01deg, #56ccf2 -9.1%, #c7a05e 82.05%); border-image-slice: 1; font-family: "Montserrat", sans-serif; color: #ccc; text-transform: uppercase; }

.project-card__type { width: 58px; height: 20px; position: absolute; left: 318px; top: 75px; font-family: Montserrat; font-style: normal; font-weight: bold; color: #ffffff; transform: rotate(90deg); transform-origin: top left; }

footer { max-width: 864px; max-height: 988px; min-width: 374px; min-height: 180px; margin: 0 auto; overflow: hidden; }

footer .skull { width: 100%; height: auto; padding: 0; display: block; margin-bottom: -445px; transform: rotate(-180deg); }

body { margin: 0; padding: 0; font-size: 16px; font-family: "Hind Madurai", sans-serif; color: #3a4a41; }

@media screen and (max-width: 1440px) { body { font-size: 14px; } }

@media screen and (max-width: 1000px) { body { font-size: 13px; } }

@media screen and (max-width: 600px) { body { font-size: 12px; } }

section { margin: 1em 0 2.5em 0; }

section .section-title { background-color: yellow; background-image: linear-gradient(45deg, #463889 0%, #00d4ff 0%, #7cc994 50%); background-size: 100%; -webkit-background-clip: text; -moz-background-clip: text; -webkit-text-fill-color: transparent; -moz-text-fill-color: transparent; margin: 0 0 2.5rem 0; text-transform: uppercase; font-family: "Montserrat", sans-serif; }

.wrapper { display: grid; grid-template-columns: repeat(12, 1fr); max-width: 1280px; margin: 0 auto; }

@media screen and (max-width: 600px) { .wrapper { grid-template-columns: none; margin: 0 20px; } }

.intro, .projects, .contact-me, .contacts { grid-column: 4 / 10; }
